body {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background: #e4e4e4;
}
h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}
.container {
  background: rgb(24, 24, 24);
  height: 455px;
  width: 80vw;
  border-radius: 5px;
}
.pianoBody {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 148px;
}

.key {
  padding: 0.5px;
  text-decoration: none;
}

.white-key {
  content: "";
  display: flex;
  height: 230px;
  background-color: #fff;
  width: 55px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.white-key:active {
  background-color: #cfcfcf;
}

.black-key {
  content: "";
  position: absolute;
  height: 130px;
  width: 55px;
  background-color: #000;
  margin-top: -230px;
  margin-left: 25px;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.black-key:active {
  background-color: rgba(0, 0, 0, 0.973);
}
